.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    font-size: 25px;
    background-color: bisque;
    padding: 20px;


    button {
        width: 250px;
        height: 40px;
        border-radius: 5px;
        background-color: blue;
        font-size: 20px;
    }

}